<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Users>
        <User>
            <Id>USER1</Id>
            <FirstName>James</FirstName>
            <LastName>Hetfield</LastName>
        </User>
        <User>
            <Id>USER2</Id>
            <FirstName>Kirk</FirstName>
            <LastName>Hammett</LastName>
        </User>
        <User>
            <Id>USER3</Id>
            <FirstName>Jason</FirstName>
            <LastName>Newsted</LastName>
        </User>
        <User>
            <Id>USER4</Id>
            <FirstName>Lars</FirstName>
            <LastName>Ulrich</LastName>
        </User>
    </Users>
    <Interviewers>
        <Interviewer>
            <Id>INTW1</Id>
            <FirstName>Lars </FirstName>
            <LastName>Ulrich</LastName>
            <Email>john@doe.com</Email>
            <PhoneNumber>0101010101</PhoneNumber>
        </Interviewer>
        <Interviewer>
            <Id>INTW2</Id>
            <FirstName>...</FirstName>
            <LastName>...</LastName>
            <Email>j...</Email>
            <PhoneNumber>...</PhoneNumber>
        </Interviewer>
        <Interviewer>
            <Id>INTW3</Id>
            <FirstName>...</FirstName>
            <LastName>...</LastName>
            <Email>j...</Email>
            <PhoneNumber>...</PhoneNumber>
        </Interviewer>
    </Interviewers>
    <OrganizationalUnits>
        <OrganizationalUnit>
            <Id>OU1</Id>
            <Label>Local organizational unit 1</Label>
            <Type>local</Type>
            <UsersRef>
                <UserId>USER2</UserId>
            </UsersRef>
            <InterviewersRef>
                <InterviewerId>INTW1</InterviewerId>
                <InterviewerId>INTW2</InterviewerId>
            </InterviewersRef>
            <OrganizationalUnitsRef/>
        </OrganizationalUnit>
        <OrganizationalUnit>
            <Id>OU2</Id>
            <Label>Local organizational unit 2</Label>
            <Type>local</Type>
            <UsersRef>
                <UserId>USER3</UserId>
            </UsersRef>
            <InterviewersRef>
                <InterviewerId>INTW3</InterviewerId>
            </InterviewersRef>
            <OrganizationalUnitsRef/>
        </OrganizationalUnit>
        
        <OrganizationalUnit>
            <Id>OU2</Id>
            <Label>National organizational unit 1</Label>
            <Type>national</Type>
            <UsersRef>
                <UserId>USER4</UserId>
            </UsersRef>
            <InterviewersRef>
                <InterviewerId>INTW1</InterviewerId>
            </InterviewersRef>
            <OrganizationalUnitsRef>
                <OrganizationalUnitId>OU1</OrganizationalUnitId>
                <OrganizationalUnitId>OU2</OrganizationalUnitId>
            </OrganizationalUnitsRef>
        </OrganizationalUnit>
        
    </OrganizationalUnits>
    
    <GeographicalLocations>
        <GeographicalLocation>
            <Id>59350</Id>
            <Label>Lille</Label>
        </GeographicalLocation>
        <GeographicalLocation>
            <Id>75056</Id>
            <Label>Paris</Label>
        </GeographicalLocation>
    </GeographicalLocations>
    
</Context>