<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" monitorInterval="30">

	<!-- Propriétés surchargeables par le CEI indiquant le chemin vers le dossier 
		contenant les logs et le nom du fichier de log -->
	<Properties>
		<Property name="logDirectory">./logs</Property>
		<Property name="logFile">sabianedata</Property>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex</Property>
	</Properties>
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout pattern="${LOG_PATTERN}"/>
		</Console>
		<RollingFile name="File-Appender">
			<FileName>${logDirectory}/${logFile}.log</FileName>
			<FilePattern>${logDirectory}/%d{yyyy-MM-dd}-${logFile}.log</FilePattern>
			<PatternLayout pattern="${LOG_PATTERN}"/>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
		</RollingFile>
	</Appenders>

		<Loggers>
			<Logger name="fr.insee.sabianedata.ws" level="debug" additivity="false">
				<AppenderRef ref="File-Appender" />
				<AppenderRef ref="Console-Appender" />
			</Logger>

			<Root level="info">
				<AppenderRef ref="File-Appender" />
				<AppenderRef ref="Console-Appender" />
			</Root>
		</Loggers>
</Configuration>